<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BatchExecute.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <BatchExecute.Properties.Settings>
            <setting name="Extensions" serializeAs="String">
                <value>ts mpg</value>
            </setting>
            <setting name="WindowMode" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Programs" serializeAs="String">
                <value>DGIndex||-i "{DirectoryName}\{Name}.{Extension}" -o "{DirectoryName}\{Name}" -hide -exit
DGIndexNV||-i "{DirectoryName}\{Name}.{Extension}" -o "{DirectoryName}\{Name}.dgi" -e -h -a
DGAVCIndexDI||-i "{DirectoryName}\{Name}.{Extension}" -o "{DirectoryName}\{Name}.dgi" -e -h -a
Comskip||"{DirectoryName}\{Name}.{Extension}"</value>
            </setting>
        </BatchExecute.Properties.Settings>
    </userSettings>
</configuration>
